<div *ngIf="isModalOpen" class="modal-overlay" (click)="closeModal()">
    <div class="modal-content" (click)="preventClosing($event)">
      <h2>Reservations for Etudiant</h2>
      <ul>
        <!-- Iterate over reservations and display details -->
        <li *ngFor="let reservation of reservations">
          <!-- Display reservation details here -->
          Reservation ID: {{ reservation.idReservation }}<br>
          Academic Year: {{ reservation.annerUniversitaire }}<br>
          Valid: {{ reservation.estValide ? 'Yes' : 'No' }}
        </li>
      </ul>
      <button (click)="closeModal()">Close</button>
    </div>
  </div>
  