<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etudiant Reservation</title>
</head>
<body>
    <header class="header">
        <img src="../assets/images/unihaven.png" alt="logo" style="width: 200px; vertical-align: middle; margin:-30px;"> <!-- Adjust width as needed -->
        <ul class="main-nav">
          <li><a href="#about">Home</a></li>
          <li><a href="#aboutus">About us</a></li>
          <li><a href="#reser">Reservation</a></li>
          <li><a href="#contact">Contact us</a></li>
      </ul>
	</header> 

    <h1>Welcome !!</h1>

    <section class="about-us">
        <h2>About Us</h2>
        <div class="content">
            <img src="../assets/images/about_us_image.jpg" alt="About Us Image">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum, nunc sit amet cursus 
                euismod, libero lacus dictum tortor, a cursus odio quam vel arcu.
            </p>
        </div>
    </section>

    <section id="contact" class="contact-us">
        <h2>Contact Us</h2>
        <div class="content">
            <img src="../assets/images/contact_us_image.png" alt="Contact Us Image">
            <p>
                For any inquiries or assistance, please feel free to contact us. We are here to help you!
            </p>
        </div>
    </section>
    

    <footer>
        &copy; 2023 Etudiant Reservation
    </footer>
</body>
</html>
